{
    box-sizing:border-box; 
    }
    
    html {
    font-size: 100%;
    }
body {
        background: url(https://64.media.tumblr.com/9056eaadcd5ebc44d1ee74c678bf50dc/5496a54e24fc78d6-fc/s400x600/f78ca8bcaea9f00be6cdba960c850198964a1620.gif) repeat center fixed; 
        background-size: full;
    font-family:tahoma,sans-serif;
    margin: 0px;
    max-width:100%;
    border:solid;
    border-color:#8a00ad;
    font-size:100%;
    }

    h1 {color:#b073fa; font-family:tahoma,sans-serif; text-align: center; font-size: 38px;  } 
    h2 {color: #87d9c4; font-family: tahoma,sans-serif; text-align: center; font-size: 30px;}
    h3 {color:#f0eb8a; text-align: center; font-size: 20px;}
    p  {color:#efe0f1; font-family: tahoma,sans-serif; text-align: center; font-size: 14px;}
    li {color:#c968a6; font-family: tahoma,sans-serif; text-align: center ;font-size: 20px;}
    i  {color:#87d9c4; font-family:tahoma,sans-serif; text-align: center; font-size: 20px;  }
   
    table {

              margin-left: auto;
              margin-right: auto;

        border-collapse: collapse;
        width: 50%;
      }
      
      th, td {
        text-align: center;
        padding: 8px; background-color: #c49ec9}
      
      
      tr:nth-child(even){background-color: #c49ec9}
      
      th {
        background-color: #190c3a;
        color: #c49ec9;
      }
      section {display:block; width:100%; background-color: #120435; margin: 0px; padding: 0px; box-shadow: 0 1px 3px rgba(0,0,0,0.12)}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    }
    
#tabletPC {display: none;}
    svg {width: 45px;}
#menu_icon {display: block; cursor: pointer; padding: 10px; position: absolute; left: 40px; z-index: 1000;}
#drawer {display: block; background-color: rgb(0, 0, 0); height: 15%; width: 14%; position: absolute;
 transition: all 0.2s linear; transform: translateX(-100%); top: 60px; opacity: 0.95;}
#drawer.open {transform: translateX(0);}  
 
/*Tablets*/
@media only screen and (min-width: 768px) {
    #menu_icon {display: block; }
      #drawer {display: block; }
      #tabletPC {display: block;}
    .col-3{width: 25%; float:left;}
    .col-9{width: 75%; float:left; padding:15px;}}
    
   /*PC*/
   @media only screen and (min-width:900px) {
    aside {display:block;}
    .col-2{width: 16.66%; float: left;}
   #container {width: 58.33%;}}
 
 
 nav {display:block; width:100%}
     nav a:link {color:#d1fcb2; font-family:verdana; text-decoration: none;}
     nav a:visited {display: block; border-bottom: 3px solid; color: rgb(212, 14, 179); 
     padding: 5px; text-decoration: none; font-weight: bold; margin: 3px; font-family:verdana; text-decoration: none;}
     nav a:hover {color: rgb(212, 14, 179); background-color: rgb(17, 0, 48); font-family:verdana; text-decoration: underline;}
     nav a:active {color: #d1fcb2; font-family:verdana; text-decoration: underline;}

footer {clear: both; display: block; text-align:center; padding: 1px; box-shadow: 0 1px 3px; color:rgb(33, 41, 114)} 
footer p{font-size: 14px; color:rgb(249, 241, 255); font-family:verdana;}
